/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.red { color: #FF5049 !important;}
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .20)), url(../img/foodbg1.jpg);
    background-size: cover;
    background-position: center;
}

.budget {
    width: 100%;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget__title {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    width: 60%;
    margin: .5rem;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.budget__income {
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    font-size: 1.6rem;
    color: #444;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
}

.budget__income--percentage,
.budget__expenses--percentage {
    font-size: 1.3rem;
    padding: 5px;
    margin: 0 1rem;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.add__type { min-width: 50px; }
.add__description { width: 400px; }
.add__value { width: 100px; }

.add__type,
.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 5px;
    height: 4.4rem;
    font-size: 1.6rem;
    color: inherit;
    font-weight: 300;
    transition: border 0.3s;
    font-family: inherit;
    margin: 0 .5rem;
}

.add__description,
.add__value {
    padding: 10px 15px;
}


.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.income,
.expenses {
    width: 45%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    /* margin-bottom: 15px; */
}

.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #e7e7e7;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__value {
    transition: transform 0.3s;
}

.item__percentage {
    margin-left: 10px;
    transition: transform 0.3s;
    font-size: 1.3rem;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }

